<h1>ScrabbleScore Calculator</h1>

<form action="/Scrabble/results" method="post">
  <label for="inputWord">Enter your word:</label>
  <input name="inputWord" class="form-control" id="inputWord">
  <button type="submit" class="btn btn-success">Go.</button>
</form>
